.home-page {
    background-color: white;
    text-align: center;
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 5vh;
    padding-bottom: 35vh;
  }
  
  #h1-home {
    display: inline-flex;
    margin: 5vh auto;
    color: white;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
  }

  .images {
    display: flex;
  }
  
  .home-page img {
    width: 30vw;
    margin-right: 1vw;
    margin-top: 20vh;
    border-radius: 15px;
  }
  
  .home-p {
    width: 13%;
    height: 35vh;
    margin-top: 10vh;
    margin-left: 3vw;
    font-size: 1.5em;
    font-weight: 500;
    color: black;
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
  
  }
  
  