.add-outcome{
    height: 100vh;
    background-color:rgb(145, 204, 221);
}

.add-outcome-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
    margin-top: 7vh;
}

.add-outcome-button{
    
    height: 7vh;
    width: 10vw;
    border: 1px solid rgba(0, 0, 0, 0.523);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 5vh;
}

.add-outcome-form label{
    font-size: 1.2em;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#h3-add-outcome{
    width: fit-content;
    margin: 0 auto;
    padding-top: 10vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.add-outcome-form select{
height: 5vh;
border-radius: 10px;
}

.add-outcome-form input{
    height: 5vh;
    border-radius: 10px;
    border: 1px solid black;
}